body {
    overflow-x: hidden;
    font-family: $body-font;
    color: $body-text-color;
    font-size: 1rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

    ::selection {
        background-color: $highlight-color;
    }

    @include md {
        font-size: 1.2rem;
        font-weight: 500;
    }
}