.acc-container {
    width: 100%;
    overflow: hidden;

    .acc-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        padding: 1rem;
        background: $dark-bg-color;

        &:first-of-type {
            margin-top: 0;
        }

        h1 {
            margin-bottom: 0;
            font-size: 1.75rem;
            color: $white;
        }

        .acc-btn-icon {
            fill: $white;
        }
    }

    .acc-content {
        width: 100%;
        overflow: hidden;
        border: 2px solid $light-bg-color;
    }

    .acc-section {
        padding: 1.5rem 1rem;
        border-bottom: 2px solid $light-bg-color;
        transition: all 0.3s ease-in-out;

        h1 {
            color: $body-text-color;
        }

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            background-color: #f9f9f9;
        }
    }
}