* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 0;
}

p {
    margin: 0;
}

a:link, a:visited {
    text-decoration: none;
    color: #002d55;
}

ul {
    list-style-type: none;
    margin: 0;
}